/* Dashboard.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    display: flex;
    height: 100vh;
}


.logout-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;
    font-size: 14px;
}

.logout-button:hover {
    background-color: #c0392b;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 5px;
}

.main-content h2 {
    margin-top: 0;
    color: #2c3e50;
}